div.horizontal-tabs-panes {
  details {
    div.details-wrapper {
      div.field {
        margin-bottom: $font-size-base / 2;
        div.field__label {
          font-weight: bold;
        }
      }
    }
  }
}
